body {
	background-color:black;
}

#container {
	background:#FF9900;
	background-image:url(images/wood.jpg);
	
	position:absolute;
	height:600px;
	width:1000px;
	top:35px;
	left:150px;
}

#leftbar {
	float:left;
	height:100%;
	width:200px;
	background:#CCCC33;
}

#rightbar {
	float:right;
	height:100%;
	width:200px;
	background:#CCCC33;
}